header{
    padding:10px;
    background-color: orange;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    color:yellow;
    z-index:1;
}
h1, h2{
    font-family: 'Trebuchet MS';
}
body{
    position:relative;
    top:100px;
    margin:0;
    background-color:salmon;
}
.AttractionsList{
    color:purple;
    font-size:larger;
    padding:10px;
    background-color:orchid;
}
ol{
    list-style-type:upper-roman;
}
#BurjKhalifa{
    color:purple;
    position:relative;
    right:10px;
    bottom:200px;
    float:top;
    padding:10px;
}
img{
    height:300px;
    width:400px;
    z-index:0;
}
.AttractionImages{
    position:relative;
    bottom:220px;
    left:450px;
}
.RestaurantTable{
    font-size:larger;
    color:darkslateblue;
    position:relative;
    bottom:200px;
    padding:10px;
    background-color:royalblue;
}
table,th,td{
    border: 2px solid;
    border-collapse:collapse;
    padding:10px;
}
.RestaurantImage{
    position:relative;
    bottom:240px;
    left:400px;
}
footer{
    margin:0;
    color:red;
    background-color: blueviolet;
    padding:10px;
}
.AccountForm{
    position:relative;
    bottom:200px;
    background-color:crimson;
    padding:10px;
    
}
tr:nth-child(odd){
    background-color:darkcyan;
}
tr:nth-child(even){
    background-color:seagreen;
}
th{
    font-family: 'Franklin Gothic Medium';
    color:darkblue;
    background-color:darkslategrey;
}
.Links{
    padding:10px;
    background-color:lightseagreen;
    font-size:larger;
}
a:link{
    color:darkgreen;
}
a:visited{
    color:blueviolet;
}
a:hover{
    color:brown;
}
iframe{
    height:450px;
    width:600px;
    position:relative;
    bottom:200px;
}